<div id="content">
    <div class="content-heading">
        <form action="/submit?a={{assignmentID}}" method="POST" enctype="multipart/form-data">
            <p class="img-content-text">{{title}}</p>
            <div class="img-assignment">
                {{!-- <img src="../assets/img/Saitama.JPG" alt=""> --}}
                {{!-- <p id="img" data-img="{{img}}"></p> --}}
                <img id="img" src="/uploads/images/{{teacherImg}}" alt="">
                <canvas id="myCanvas"></canvas>
            </div>
            <div class="submit-bar">
                <div class="submit-bar__text">
                    <p>Submitted attachments</p>
                </div>
                <input type="file" name="image" id="image" style="display: inline;" class="add-btn"></input>
                <button type="submit" class="submit-btn js-create-btn"><i class="fas fa-plus-circle"></i>Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.addEventListener(
                "load",
                function() {
                    document.getElementById("img").src = "";
                    var avatarImg = new Image();
                    var src = reader.result;
                    avatarImg.src = src;

                    avatarImg.onload = function() {
                        var c = document.getElementById("myCanvas");
                        var ctx = c.getContext("2d");
                        ctx.canvas.width = 1320;
                        ctx.canvas.height = avatarImg.height;
                        
                        ctx.drawImage(avatarImg, 350, 0);
                    };
                },
                false
            );
            reader.readAsDataURL(input.files[0]);
        }
    }


    function submit(_id, title) {
        console.log("im here")
        var classes = document.getElementById('classes');
        var classID = classes.dataset.id;
        var className = classes.dataset.name;
        var linkURL = "/submit?class_name=" + className + "&classID=" + classID + "&a=" + _id + "&t=" + title;
        window.location.href = linkURL;
    }
</script>